<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.ht.sportstatistik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TestDataActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TeamActivity"
            android:label="@string/title_activity_team"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.ht.sportstatistik.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/title_activity_spiel"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.ht.sportstatistik.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.StatsActivity"
            android:label="@string/title_activity_stats"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.ht.sportstatistik.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.PlayerActivity"
            android:label="@string/title_activity_player"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.ht.sportstatistik.activities.MainActivity" />
        </activity>
    </application>

</manifest>
